
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>

<p><b>Want extra information?</b></p>
<p>Fill in the following contact information below and we'll get back to you as soon as we can!</p>
<br />
<p>Our contact information :</p>
<p>Phone Number: +0721036758</p>
<p>Email Adress: KhumaloCraft@gmail.com</p>
<br />
<label FirstName = "FName">First Name: </label> <input type = "text" /> <label Surname = "Surname">Surname: </label> <input type = "text" /><br />

<label EmailAddress = "Email">Email Address: </label> <input type = "text" /> <label PhoneNumber = "PhoneNo">Phone Number: </label> <input type = "text" />






