@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>

    <br />
    <p><b>Our Mission</b></p>
    <br />
        <p>
        Our goal at KhumalCraft Emporium is to create a user-friendly , scaleable platform that highlights the artistry of craftspeople and offers our patrons a safe and delighful buying experiance
        .We seek to close the gap between contemporary technology and traditional workmanship by giving craftsmen a smooth platform to display their creations and allowing buyers to purchase one-of-a-kind
        handcrafted treasures.
        </p>
   


</div>

