
@{
    ViewData["Title"] = "MyWork";
}

<h1>My Work</h1>

<br />

<div class="card">
    <img class="ArtProduct1" src="KhumaloCraft Emporium\Images\WoodenDogs.jpg" alt="Wooden Dogs">
    <div class="card-body">
        <h5 class="ProdName">Dog Figurine </h5>
        <p class="Type">Craft: Wood</p>
        <p class="Wooden Dogs">Price: R100.00</p>
    </div>
</div>

<br />

<div class="card">
    <img class="ArtProduct2" src="C:\Users\1 Ethan\Desktop\Work for UNI\CLVD 2024 Work\KhumaloCraft Emporium\KhumaloCraft Emporium\Images\Bear Ceramics.jpg" alt="Clay Bear Ceramic">
    <div class="card-body">
        <h5 class="ProdName">Bear pen holder</h5>
        <p class="Type">Craft: Ceramic</p>
        <p class="Wooden Dogs">R350.00</p>

    </div>
</div>

<br />

<div class="card">
    <img class="ArtProduct3" src="C:\Users\1 Ethan\Desktop\Work for UNI\CLVD 2024 Work\KhumaloCraft Emporium\KhumaloCraft Emporium\Images\PillowKnitted.jpg" alt="Knitted Pillow">
    <div class="card-body">
        <h5 class="ProdName">Knitted Pillow</h5>
        <p class="Type">Craft: Wool</p>
        <p class="Wooden Dogs">R129.99</p>

    </div>
</div>